{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block page_header %}
<!--//header-->
<div class="page-header theme-bg-dark py-5 text-center position-relative">
    <div class="theme-bg-shapes-right"></div>
    <div class="theme-bg-shapes-left"></div>
    <div class="container">
        <h1 class="page-heading single-col-max mx-auto">Documentation</h1>
        <div class="page-intro single-col-max mx-auto">Everything you need to get your software documentation
            online.</div>
        <div class="main-search-box pt-3 d-block mx-auto">
            <form class="search-form w-100">
                <input type="text" placeholder="Search the docs..." name="search" class="form-control search-input">
                <button type="submit" class="btn search-btn" value="Search"><i class="fas fa-search"></i></button>
            </form>
        </div>
    </div>
</div>
<!--//page-header-->

{% endblock page_header %}

{% block body %}
{% for annonce in annonces %}
<div class="col-12 col-lg-4 py-3">
    <div class="card shadow-sm">
        {% if annonce.fileName %}
        <img class="card-img-top" src="{{ vich_uploader_asset(annonce , 'imageFile') | imagine_filter('my_thumb') }}"
            alt="Card image cap">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title mb-3">
                <span class="theme-icon-holder card-icon-holder mr-2">
                    <i class="fas fa-info-circle"></i>
                </span>
                <!--//card-icon-holder-->
                <span class="card-title-text"> {{ annonce.title}} </span>
            </h5>
            <div class="card-text">
                Section overview goes here. Lorem ipsum dolor sit amet, consectetuer adipiscing
                elit. Aenean commodo ligula eget dolor.
            </div>
            <a class="card-link-mask" href="{{ path('annonces.show',{'id': annonce.id}) }}"></a>
        </div>
        <!--//card-body-->

    </div>
    <!--//card-->
</div>
<!--//col-->

{% endfor %}
{% endblock %}